.btn{
    font-size: 16px;
    border: 2px solid rgb(60, 172, 216);
    box-shadow: 5px 5px 5px lightgray;
    background-color: lightblue;
}
.btn:hover , .btn:focus, .btn:active{
    box-shadow: 5px 5px 5px lightgray;
    font-weight:bold;
    width:100px;
    height:30px;
    cursor:pointer ;
}